#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;
    flex: 7;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
    }

    p {
      color: #f8f8f8;

      font-size: 24px;
      line-height: 32px;

      margin-top: 16px;
    }
  }

  main {
    flex: 8;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      margin: 64px 0 24px;
    }

    form {
      input {
        background: #fff;
        border-radius: 8px;
        border: 1px solid #a8a8b3;

        height: 50px;
        padding: 0 16px;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      color: #737380;
      font-size: 14px;

      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }

  .create-room {
    background: #ea4335;
    color: #fff;

    border-radius: 8px;
    font-weight: 500;

    margin-top: 64px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;
    margin: 32px 0;

    display: flex;
    align-items: center;

    &::before {
      content: '';
      background: #a8a8b3;
      height: 1px;

      margin-right: 16px;
      flex: 1;
    }

    &::after {
      content: '';
      background: #a8a8b3;
      height: 1px;
      
      margin-left: 16px;
      flex: 1;
    }
  }
}